<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
<body>
    <h2 style="color: red;">차트보기</h2>
    <a href="/height" class="card-link">해수면 높이 차트보기</a>
    <a href="/co2" class="card-link">co2 차트보기</a>
    <a href="/sea_t" class="card-link">해수면 온도 차트보기</a>
    <a href="/atmo_t" class="card-link">대기 온도 차트보기</a>
    <a href="/total" class="card-link">한 눈에 보기</a>
</body>
</html>