<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
<body>
    <iframe src="http://localhost:5601/goto/ee44ef8a9d455f79b67cf63b1a9fced4" height="600" width="800"></iframe>
    <a href="/atmo_t" class="card-link">다음 차트보기</a>
    <a href="/" class="card-link">메인으로 돌아가기</a>
</body>
</html>