<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
<body>
    <iframe src="http://localhost:5601/goto/48daeb0a8874a3c243df765e580d3707" height="600" width="800"></iframe>
    <a href="/total" class="card-link">한 눈에 보기</a>
    <a href="/" class="card-link">메인으로 돌아가기</a>
</body>
</html>